// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background: #000;
    width:800px;
    margin: 50px auto;
    border:1px solid #fff;
}

p{
    color:#999;
}

h1{
    color:#fff;
}

h2 a {
    color:#fff;
}

a {
    text-decoration:none;
    color: #ee00aa;
}
small{    color:#fff;
}


